In [1]:
def hey():
    print("Hey there!")
    print("How are you doing?")

In [2]:
hey()

Hey there!
How are you doing?

In [14]:
def hello(name):
    print("Hello {}! How are you doin?".format(name));

In [15]:
hello("khaja")

Hello khaja! How are you doin?

In [16]:
hello("Azhar")

Hello Azhar! How are you doin?

In [20]:
def filter_even(number_list):
    result_list = []
    for number in number_list:
        if number % 2 == 0:
            result_list.append(number)
    return result_list

In [21]:
even_list = filter_even([1, 2, 3, 4, 5, 6, 7])

In [22]:
even_list

[2, 4, 6]

# Here we are creating an EMI calculator

In [45]:
def loan_emi(amount):
    emi = amount / 12
    print('The EMI is ${}'.format(emi))

In [46]:
loan_emi(126000)

The EMI is $10500.0

In [47]:
def loan_emi(amount, duration):
    emi = amount/ duration        # these are the local variables as they are defined under a function where as if you define a 
    print("The EMI is ${}" .format(emi)) # variable outside a function then it is called a global variable.

In [48]:
loan_emi(1260000, 8*12) # 8 Year loan without a down payment

The EMI is $13125.0

In [49]:
loan_emi(1260000, 10*12) # 10 Yaer loan without a down payment

The EMI is $10500.0

In [50]:
def loan_emi(amount, duration):
    emi = amount/duration
    return emi

In [51]:
emi1= loan_emi(1260000, 8*12)

In [52]:
emi2= loan_emi(1260000, 10*12)

In [53]:
emi1

13125.0

In [55]:
emi2

10500.0

In [56]:
emi1-emi2 # difference without considering the down payment

2625.0

In [57]:
def loan_emi(amount, duration, down_payment=0): # we used '=0' because if we don't have a down payment pyton will take it as 0!
    loan_amount = amount-down_payment
    emi= loan_amount/ duration
    return emi

In [58]:
emi1= loan_emi(1260000, 8*12, 300000)
emi1

10000.0

In [59]:
emi2= loan_emi(1260000, 10*12)
emi2

10500.0

In [76]:
def loan_emi(amount, duration, rate, down_payment=0): #we passed the down payment to the laon amount
    loan_amount = amount - down_payment
    emi= loan_amount * rate * ((1+rate)**duration) / (((1+rate)**duration) -1)
    return emi

In [81]:
loan_emi(1260000, 8*12, 0.1/12, 300000)

14567.19753389219

In [82]:
loan_emi(1260000,10*12, 0.08/12)

15287.276888775077

# Optional Answer by Using named Arguments

In [95]:
emi_1= loan_emi(amount=1260000, duration= 8*12, rate= 0.1/12, down_payment=300000)
round(emi_1)

14567

In [94]:
emi_2= loan_emi(amount=1260000, duration= 10*12, rate= 0.08/12)
round(emi_2,2) # We can round up to 2 decimal places, just the format to remember

15287.28

In [96]:
import math

In [97]:
help(math.ceil)

Help on built-in function ceil in module math:

ceil(x, /)
    Return the ceiling of x as an Integral.

    This is the smallest integer >= x.

In [98]:
math.ceil(1.2)

2

In [99]:
def loan_emi(amount, duration, rate, down_payment=0): # Main defining of loan_emi
    loan_amount = amount - down_payment
    emi = loan_amount * rate * ((1+rate)**duration) / (((1+rate)**duration)-1)
    emi = math.ceil(emi)
    return emi

In [100]:
emi1 = loan_emi(
    amount=1260000, 
    duration=8*12, 
    rate=0.1/12, 
    down_payment=3e5
)

In [101]:
emi1

14568

In [102]:
emi2 = loan_emi(amount=1260000, duration=10*12, rate=0.08/12)
emi2

15288

In [105]:
if emi1 < emi2:
    print ("Option 1 has the lower EMI: ${}" .format(emi1))
else:
    print ("Option 2 has the lower EMI ${}" .format(emi2))

Option 1 has the lower EMI: $14568

In [108]:
house_payment =800000
home_down_payment= 0.25 * 800000
home_rate = 0.07/12
home_duration= 6*12

house_emi= loan_emi(amount=house_payment, duration=home_duration, rate=home_rate,down_payment=home_down_payment) 
house_emi

10230

In [109]:
car_payment =60000
car_rate = 0.12/12
car_duration= 1*12

car_emi= loan_emi(amount=car_payment, duration=car_duration, rate=car_rate,down_payment=0) 
car_emi

5331

In [111]:
print("Shawn pays total Payment of ${} per month" .format(house_emi+car_emi))

Shawn pays total Payment of $15561 per month

In [113]:
emi_with_interest= loan_emi(amount=100000, duration = 10*12, rate= 0.09/12)
emi_with_interest

1267

In [119]:
emi_without_interest= loan_emi(amount=100000, duration = 10*12, rate= 0/12)
emi_without_interest

ZeroDivisionError: float division by zero

In [120]:
def loan_emi(amount, duration, rate, down_payment=0): # Error handling by using try and except concept 
    loan_amount = amount - down_payment
    try:
        emi = loan_amount * rate * ((1+rate)**duration) / (((1+rate)**duration)-1)
    except ZeroDivisionError:
        emi= loan_amount / duration
    emi = math.ceil(emi)
    return emi

In [121]:
emi_without_interest= loan_emi(amount=100000, duration = 10*12, rate= 0/12)
emi_without_interest

834

In [122]:
total_interest = (emi_with_interest-emi_without_interest) *10*12
total_interest

51960

In [123]:
print("The Total Interest paid is ${}" .format(total_interest))

The Total Interest paid is $51960